name : Test Commit

on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: EndBug/add-and-commit@v8
        with:
          default_author: github_actions
